


body {
	background-color:#369;
	text-align:center;
}

#outer {
	margin:auto;
	margin-top:2em;
}

#outer td {
}

.board {
}

.board td {
	border:1px solid #ccc;
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
}

.board a {
	margin:auto;
	display:block;
	width:40px;
	height:40px;
	text-decoration:none;
	color:#666;
	font-size:240%;
	font-weight:bold;
}

.board a.hover.nought {
	color:#963;
}

.board a.hover.cross {
	color:#396;
}

.board a.played.nought {
	background-color:#fdb;
	color:#963;
}

.board a.played.cross {
	background-color:#dfb;
	color:#396;
}



#reset {
	color:white;
	text-decoration:none;
	font-size:150%;
}
